<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <h3>Patrimonio</h3>
            </div>
        </div>
        <div>
            <blockquote class="blockquote blockquote-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit integer.</p>
                <footer>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
